apiVersion: apps/v1
kind: Deployment
metadata:
  name: events-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: events
  template:
    metadata:
      labels:
        app: events
    spec:
      containers:
        - name: events
          image: kevinmitaki/ftm-events
          env:
            - name: MONGO_URI
              value: mongodb://mongo-events-srv:27017/events
            - name: COOKIE_SECRET
              valueFrom:
                secretKeyRef:
                  name: cookie-secret
                  key: COOKIE_SECRET
            - name: NATS_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NATS_URL
              value: "http://nats-srv:4222"
            - name: NATS_CLUSTER_ID
              value: events
---
apiVersion: v1
kind: Service
metadata:
  name: events-srv
spec:
  type: ClusterIP
  selector:
    app: events
  ports:
    - name: events
      protocol: TCP
      port: 3000
      targetPort: 3000
